@media screen and (min-width: 43em) {
    main {
        width: 1440px;
        height: 800px;
    }

    .container {
        padding-left: 10.25rem;
        padding-right: 10.25rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .toggle-section {
        display: flex;
        gap: 14px;
    }
    .title-text {
        border-bottom: none;
    }
    .socials {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    .event-sections {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}